@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Volunteer Tracker</h1>
    <p class="lead">Volunteer Tracker is an easy way to coordinate volunteer efforts for your organization. Track events, organization and volunteers.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            A paragraph about events... Lots and lots of events. Blah blah blah. Lorem ipsum I don't remember the rest of the Latin words even though I took Latin in high school.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Organizations</h2>
        <p>Track all the organizations your group volunteers for. Organizations and events have a one to many relationship.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volunteers</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>